[Unit]
Description=QrisDinamis
ConditionPathExists=/var/www/qris/build
Wants=network.target
After=network.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
WorkingDirectory=/var/www/qris/build
ExecStart=/usr/bin/node/ /var/www/qris/build/bin/server.js

[Install]
WantedBy=multi-user.target